@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url(https://fonts.googleapis.com/css2?family=Quicksand);

body {
    height: calc(100vh - 8em);
    color: #31BA1E;
    font-family: 'Anonymous Pro', monospace;  
    background-color: #181818;  
}

.page-padding {
    padding: 4em;
}

.scrolltwo {
    color: #181818;
    font-family: 'Quicksand', monospace;  
    background-color: #e2e2e2;  
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 4em;
}
.scrollthree {
    color: #eeeeee;
    font-family: 'Quicksand', monospace;  
    background-color: #707070;  
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 4em;
}

.footer {
    color: #181818;
    font-family: 'Anonymous Pro', monospace;  
    background-color: #D3D3D3;  
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 0.4em;
    padding-top: 1em;
}

.noAStyle {
	text-decoration: none !important;
	color: #fff;
}

.noAStyle:hover {
	text-decoration: none !important;
	color: #fff !important;
}

.hr-green {
    border-bottom: 1px solid #31BA1E;
}

.animation_text {
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.animation {
animation: type 2s steps(44) 1s 1 normal both,
            blink1 500ms steps(44) infinite normal;
}
@keyframes type {
from{width: 0;}
to{width: 15em;}
}
@keyframes blink1 {
from{border-right-color: #31BA1E;}
to{border-right-color: transparent;}
}

.icon {
    background-color: #1F1F1F;
    width: 100px;
    height: 100px;
}

.tooltip-main {
    background: #1F1F1F;
    border: 1px solid #1F1F1F;
    color: #31BA1E;
  }
  
  .tooltip-inner {
    background: #1F1F1F;
    color: #31BA1E;
  }
  
  .tooltip.show {
    opacity: 1;
  }
  
  .bs-tooltip-auto[x-placement^=bottom] .arrow::before,
  .bs-tooltip-bottom .arrow::before {
    border-bottom-color: #1F1F1F;
    /* Red */
  }

  .AStyle1 {
	color: #181818;
    font-weight: bold;
}

.AStyle1:hover {
	color: #000 !important;
    font-weight: bold;
}

.AStyle2 {
	color: #81898F;
}

.AStyle2:hover {
	color: #181818 !important;
}